/* Limpar todas as formatações padrão */

*{
    margin: 0;
    padding: 0;
}

body{
    /* 1Em equivale a 16px */
    font-size: 1em; 
    background: #e6e6e6;
    font-family: 'Trebuchet MS', Helvetica,sans-serif;
   
}

a{
    text-decoration: none;
}

a:link ,  a:visited {
    color: #fd00009f;
}
a:hover{

    text-decoration: underline;
}

/* Utilizando seletores para estilização somente do cabeçalho */

#cabecalho a:link , #cabecalho a:visited {
    padding: 10px 12px;
    color: white;
}
#cabecalho a:hover{
    width: 20px;
    color: #fd00009f;
    background-color: white;
    /* Css utiliza efeito cascata,pegando primeiro a regra geral do a:hover com o txt decoration,caso não queira o underline e necessario identificar no seletor especifico */
    text-decoration: none;
}

h2{
    color: #fd00009f;
}
h3{
    color: #565656;
    background: #CCC;
    padding: 5px;
}
h1{
    color:#0e0d0d;
    font-size: 2.5em;

}




#area-principal{
    padding : 15px;
    margin: 0 auto;
    width: 920px;
}
#rodape{
  clear: both;
  text-align: center;
  background: #CCC;
  padding: 15px;
}

#postagens{
    width: 660px;
    padding: 10px;
    float: left;
}
#area-lateral{
    width: 220px;
    float: right;
}

#cabecalho{
    background-color: #fd00009f;
    padding: 15px;
    text-align: center;
}
#area-logo,#area-menu{
    padding: 10px;
}
.branco{
    color: white;
}


.postagem{
padding: 20px  ;
margin-bottom: 20px;
background:white;
}

.data-postagem{
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;

}
.conteudo-lateral{
   
    padding:10px;
    margin-bottom: 20px;
}
.postagem-lateral {
    font-size: 0.8em;
    padding: 5px;
}